@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body{
    min-height: 100vh;
    width: 100%;
    background: rgb(182, 182, 182);
    display: flex;
    align-items: center;
    justify-content: center;    
}

.container{
    width: 80%;
    background: rgb(255, 255, 255);
    padding: 30px 60px 40px 40px;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.container .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .content .left-side{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
}

.content .left-side::before{
    content: '';
    position: absolute;
    height: 80%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(188, 45, 217);
}

.container .content .left-side .details{
    margin: 16px;
    text-align: center;
}

.container .content .left-side .details i{
    font-size: 28px;
    color: rgb(27, 37, 116);
    margin-bottom: 10px;
}

.container .content .left-side .details i .topic{
    margin-top: 15px;
}

.container .content .left-side .details i:hover{
    transform: scale(1.2);
}

.container .content .left-side .details .topic{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}

.container .content .right-side{
    width: 75%;
    margin-left: 75px;
}

.container .content .right-side p{
    margin-bottom: 20px;
    font-size: 17px;
}

.content .right-side .topic-text{
    font-size: 26px;
    font-weight: 500;
    color: rgb(27, 37, 116);
    animation: all 0.3s step-end;
    margin-bottom: 10px;
}

.content .right-side .topic-text{
    position: relative;
}

.right-side .input-box{
    height: 50px;
    width: 100%;
    margin: 12px 0px;
}

.right-side .input-box input,
.right-side .message-box textarea{
    height: 100%;
    width: 100%;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    padding: 0px 20px;
    background: rgb(221, 221, 221);
    resize: none;
}

.right-side .message-box{
    min-height: 120px;
}

.right-side .input-box .message-box .input input[type="text"]{
    padding-top: 6px;
}
 
.right-side button{
    display: inline-block;
    margin-top: 12px;
}

.right-side button{
    color: white;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 8px;
    background: rgb(27, 37, 116);
    padding: 14px 18px;
    cursor: pointer;
}

button:hover{
    transform: scale(1.04);

}

@media (max-width: 950px){
    .container{
        width: 90%;
        padding: 30px 35px 40px 35px;
    }
}

@media (max-width: 820px){
    .container{
        margin: 40px 0;
        height: 100%;
    }

    .container .content{
        flex-direction: column-reverse;
    }

    .container .content .left-side{
        width: 100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .container .content .left-side::before{
        display: none;
    }

    .container .content .right-side{
        width: 100%;
        margin-left: 0;
    }
}
